<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <th><%= f.label :name %>
      </th>
      <th><%= f.label :description %>
      </th>
      <th><%= f.label :image_url %>
      </th>
      <th><%= f.label :color %>
      </th>
      <th><%= f.label :price %>
      </th>
    </tr>
    <tr>
      <td class="field"><%= f.text_field :name %>
      </td>
      <td class="field"><%= f.text_area :description %>
      </td>
      <td class="field"><%= f.text_field :image_url %>
      </td>
      <td class="field"><%= f.text_field :color %>
      </td>
      <td class="field"><%= f.text_field :price %>
      </td>
    </tr>
</table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
