<div id="product-page">
  <p id="notice"><%= notice %></p>
  <header>
    <h1><%= @product.name %></h1>
  </header>
  <div class="row">
    <div class="col-lg-5">
      <%= image_tag("cups.jpg", class: "img-responsive product-image") %>    
    </div>
    <div class="col-lg-7">
      <h4 class="description-main">
        <%= @product.description %>
      </h4>
      <ul class="desc-details">
        <li>Capacidad de 250ml</li>
        <li>Altura 9.8cm</li>
        <li>Diámetro 8cm</li>
        <li>Aptas para uso en microondas y lavavajillas</li>             
      </ul>
      <div class="row">
        <div class="col-xs-6 col-lg-4 product-sel">
          <h4>PRICE</h4>
        </div>
        <div class="col-xs-6 col-lg-4 product-sel">
          <h4>QUANTITY</h4>
        </div>
        <div class="col-lg-4 product-sel">
          <h4>DESIGN</h4>
        </div>
      </div>
      <input type="submit" class="btn btn-info btn-lg" value="add to cart">
      <input type="submit" class="btn btn-lg" value="add to wishlist">
      <p>
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>
      </p>
    </div>
  </div>
</div>
