<% content_for(:title, @product.name) %>

<div id="product-page">
  <div class="row" data-product-id="<%= @product.id %>">
  <% cache @product do %>
    <div class="col-lg-5">
      <%= image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: "#{@product.image_url}") %>
      <p>
        
      <% if current_user && current_user.admin? %>

        <%= link_to 'Editar', edit_product_path(@product) %> |
      
      <% end %>
      <%= link_to 'Regresar', products_path %>
      </p>
    </div>
    <div class="col-lg-7">
      <div class="row">
        <h2 class="description-main">
        <%= @product.description %>
      </h2>
      <p>Calificación Promedio:</p> 
      <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div> 
        
        <div class="col-xs-6 col-lg-4 product-sel">
          <h2><%= @product.price %></h2>
        </div>
        <div class="col-xs-6 col-lg-4 product-sel">
          <h4>Cantidad</h4>
        </div>
        <div class="col-lg-4 product-sel">
          <h4>Color</h4>
          <p><%= @product.color %></p>
        </div>
      </div>
      <%= form_tag "/charges/create" do %>
        <%= render partial: "shared/stripe_checkout_button" %>
        <%= hidden_field_tag(:product_id, @product.id) %>
      <% end %>
      <input type="submit" class="btn btn-lg btn-block" value="agregar a la lista de deseos">
    <div>
  <% end %>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs tabs-product-title" role="tablist">
   <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">COMENTARIOS</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="comments">
      <div class="col-lg-6">
        <%= render 'new_comment' %>
      </div>
      <div class="col-lg-6">
      <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
        <%= render 'comments' %>
        <%= will_paginate @comments, class: "pager" %>
      </div>
    </div>
  </div>

</div>
      
      </div>
  </div>
  
</div>

