<% content_for(:title, @product.name) %>

<div id="product-page">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-lg-5">
      <%= image_tag(@product.image_url, class: "img-responsive") %>
    </div>
    <div class="col-lg-7">
      <h4 class="description-main">
        <%= @product.description %>
      </h4>
      <div class="row">
        <div class="col-xs-6 col-lg-4 product-sel">
          <h4>PRICE</h4>
          <p><%= @product.price %></p>
        </div>
        <div class="col-xs-6 col-lg-4 product-sel">
          <h4>QUANTITY</h4>
        </div>
        <div class="col-lg-4 product-sel">
          <h4>COLOR</h4>
          <p><%= @product.color %></p>
        </div>
      </div>
      <input type="submit" class="btn btn-info btn-lg btn-block" value="agregar al carrito">
      <input type="submit" class="btn btn-lg btn-block" value="agregar a la lista de deseos">
      <p>
      <%= link_to 'Editar', edit_product_path(@product) %> |
      <%= link_to 'Regresar', products_path %>
      </p>
    </div>
  </div>
</div>
