<!DOCTYPE html>
<html>
  <head>
    <title>Nocturnalia : <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=BioRhyme+Expanded|BioRhyme|Lato" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <script src="https://use.fontawesome.com/07439a54c4.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body data-spy="scroll" data-target=".navbar">
    <div id="wrapper">
      <!--navbar starts here-->
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= link_to image_tag("logo", class: "logo"), root_path %>
          </div>
          <ul class="list-inline">  
            <li>
              <%= awesome_link "fa-user-plus", root_path, class: "hidden-sm hidden-md hidden-lg hidden-xl" %>
            </li>
            <li>
              <%= awesome_link "fa-info-circle", static_pages_about_path, class: "hidden-sm hidden-md hidden-lg hidden-xl" %>
            </li>
            <li>
              <%= awesome_link "fa-shopping-basket", products_url, class: "hidden-sm hidden-md hidden-lg hidden-xl" %>
            </li>
            <li>
              <%= awesome_link "fa-calendar", static_pages_events_path, class: "hidden-sm hidden-md hidden-lg hidden-xl" %>
            </li>
            <li>
              <%= awesome_link "fa-envelope", static_pages_contact_path, class: "hidden-sm hidden-md hidden-lg hidden-xl" %>
            </li>
            <li>
              <a href="#" class="hidden-xs login">Login/Register</a>
            </li>
          </ul>
          <header><h1><%= yield(:title) %></h1></header>
        </div>
      </nav><!-- end navbar -->
      <!--sidebar starts here-->
      <div class="icon-bar hidden-xs">
        <%= awesome_link "fa-home", root_path, data: { toggle: 'tooltip', placement: 'right', original_title: 'Inicio' } %>
        <%= awesome_link "fa-info-circle", static_pages_about_path, data: { toggle: 'tooltip', placement: 'right', original_title: 'Acerca de' } %>
        <%= awesome_link "fa-shopping-basket", products_url, data: { toggle: 'tooltip', placement: 'right', original_title: 'Tienda' } %>
        <%= awesome_link "fa-calendar", static_pages_events_path, data: { toggle: 'tooltip', placement: 'right', original_title: 'Eventos' } %>
        <%= awesome_link "fa-envelope", static_pages_contact_path, data: { toggle: 'tooltip', placement: 'right', original_title: 'Contacto' } %>
      </div>
<!-- end sidebar -->
<!-- Page Content -->
      <div id="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-11 col-sm-offset-1" >
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="copyright">
        <h4 id="copy">&copy; 2017 Nocturnalia</h4>
      </div>
      <div class="twitter">
        <%= awesome_link "fa-twitter-square", "https://twitter.com/dposnanski", class: "social fa-lg" %>
      </div>
      <div class="facebook">
        <%= awesome_link "fa-facebook-square", "https://www.facebook.com/nocturnalia", class: "social fa-lg" %>
      </div>
      <div class="instagram">
        <%= awesome_link "fa-instagram", "https://www.instagram.com/nocturnalia", class: "social fa-lg" %>
      </div>
      <div class="youtube">
        <%= awesome_link "fa-youtube-square", "https://www.youtube.com/nocturnalia", class: "social fa-lg" %>
      </div>
    </footer>
  </body>
</html>
