<!DOCTYPE html>
<html>
  <head>
    <title>Nocturnalia : <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://checkout.stripe.com/v3/checkout/button.css"></link>
    <link href="https://fonts.googleapis.com/css?family=BioRhyme+Expanded|BioRhyme|Lato" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/07439a54c4.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="wrapper">
      <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to image_tag("logo", class: "logo navbar-brand"), root_path %>
       <%= form_tag(products_url, method: "get", class: "navbar-form navbar-left form-inline main-search") do %>
            <div class="form-group">
              <%= text_field_tag :q, params[:q], class: "form-control", placeholder: "Quiero..." %>
              </div>
              <%= submit_tag("Buscar", class: "btn btn-default navbar-btn") %>
            
            <% end %>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>  
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav list-inline">
        <li>
              <%= awesome_link "fa-user-plus", static_pages_index_path, class: "hidden-sm hidden-md hidden-lg hidden-xl" %>
            </li>
            <li>
              <%= awesome_link "fa-info-circle", static_pages_about_path, class: "hidden-sm hidden-md hidden-lg hidden-xl" %>
            </li>
            <li>
              <%= awesome_link "fa-shopping-basket", products_url, class: "hidden-sm hidden-md hidden-lg hidden-xl" %>
            </li>
            <li>
              <%= awesome_link "fa-calendar", static_pages_events_path, class: "hidden-sm hidden-md hidden-lg hidden-xl" %>
            </li>
            <li>
              <%= awesome_link "fa-envelope", static_pages_contact_path, class: "hidden-sm hidden-md hidden-lg hidden-xl" %>
            </li>
      </ul>
      <button type="button" class="btn btn-default navbar-btn hidden-xs login">
        <% if current_user %>
    <%= link_to('Cerrar Sesión', destroy_user_session_path, method: :delete) %>
  <% else %>
    <%= link_to('Iniciar Sesión', new_user_session_path) %>
  <% end %>
      </button>
      
    </div><!-- /.navbar-collapse -->
    <header>
   
                <h1 class="desktop-h1 mobile-h1"><%= yield(:title) %></h1>
              </header>
               <div class="container-fluid">
               <div class="row">
                  <div class="col-xs-12 col-sm-11 col-sm-offset-1" id="notifications">
               <% if notice %>
                <p id="notice" class="alert alert-success"><%= notice %><a href="#" class="close">&times;</a></p>
              <% end %>
              <% if alert %>
                <p id="alert" class="alert alert-danger"><%= alert %><a href="#" class="close">&times;</a></p>
              <% end %>
              </div>
              </div>
              </div>

  </div><!-- /.container-fluid -->
</nav><!-- end navbar -->
      <!--sidebar starts here-->
      <div class="icon-side-bar hidden-xs">
        <%= awesome_link "fa-home", static_pages_index_path, data: { toggle: 'tooltip', placement: 'right', original_title: 'Inicio' } %>
        <%= awesome_link "fa-info-circle", static_pages_about_path, data: { toggle: 'tooltip', placement: 'right', original_title: 'Acerca de' } %>
        <%= awesome_link "fa-shopping-basket", products_url, data: { toggle: 'tooltip', placement: 'right', original_title: 'Tienda' } %>
        <%= awesome_link "fa-calendar", static_pages_events_path, data: { toggle: 'tooltip', placement: 'right', original_title: 'Eventos' } %>
        <%= awesome_link "fa-envelope", static_pages_contact_path, data: { toggle: 'tooltip', placement: 'right', original_title: 'Contacto' } %>
      </div>
<!-- end sidebar -->
<!-- Page Content -->
      <div id="content">
        <div class="container-fluid">
          <div class="row content-yield">
            <div class="col-xs-12 col-sm-11 col-sm-offset-1">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="copyright">
        <h4 id="copy">&copy; 2017 Nocturnalia</h4>
      </div>
      <div class="twitter">
        <%= awesome_link "fa-twitter-square", "https://twitter.com/dposnanski", class: "social fa-lg" %>
      </div>
      <div class="facebook">
        <%= awesome_link "fa-facebook-square", "https://www.facebook.com/nocturnalia", class: "social fa-lg" %>
      </div>
      <div class="instagram">
        <%= awesome_link "fa-instagram", "https://www.instagram.com/nocturnalia", class: "social fa-lg" %>
      </div>
      <div class="youtube">
        <%= awesome_link "fa-youtube-square", "https://www.youtube.com/nocturnalia", class: "social fa-lg" %>
      </div>
    </footer>
  </body>
</html>
